* {
    margin: 0px;
}

.cuerpo {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "landing"
        "section"
        "footer";
    grid-template-rows: 120px 50px 500px auto 200px;
}

.landing {
    grid-area: landing; 
    position: absolute;
    top: 120px;
    left: 0px;
    right: 0px;
    height: 550px;
    z-index: -1;
}

header {
    grid-area: header;
    position: sticky;
    top: 0;
}

nav {
    grid-area: nav;
    position: sticky;
    top: 160px;
}

section {
    padding-top: 10px;
    grid-area: section;
    display: grid;
    gap: 10px;
    grid-template-areas:
        "destinos"
        "servicios"
        "equipo"
        "testimonios";
    grid-template-rows: repeat(4,800px);
}

#destinos {
    grid-area: destinos;

}

#servicios {
    grid-area: servicios;
}

#equipo {
    grid-area: equipo;
}

#testimonios {
    grid-area: testimonios;
}

footer {
    grid-area: footer;
}