*{ 
    margin: 0px;
}
.cuerpo{ 
    display: grid;
    grid-template: 
    "landing" 100vh
    "header" 200px
    "nav" 50px
    "section"
    "footer" 200px;    
}
.landing{ 
    grid-area: landing;
    background-color: red;        
}
header{ 
    grid-area:header;
    background-color: green;
}
nav{ 
    grid-area:nav;
    background-color: aqua;
}
section{ 
    grid-area: section;
    display: grid;
    gap: 10px;
    grid-template:
    "destinos" 700px
    "servicios" 700px
    "equipo" 700px
    "testimonios" 700px;
}
#destinos{ 
    grid-area: destinos;
    background-color: yellow;
}
#servicios{ 
    grid-area: servicios;
    background-color: rgb(190, 228, 20);    
}
#equipo{ 
    grid-area: equipo;
    background-color: rgb(185, 185, 4);
}
#testimonios{ 
    grid-area: testimonios;
    background-color: rgb(141, 141, 4);
}
footer{ 
    grid-area:footer;
    background-color: blueviolet;
}