header{ 
    display: grid;
    grid-template: 
    "uplanding" 40px
    "dowlanding" 160px;    
}
#uplanding{ 
    grid-area: uplanding;
    display: grid;
    grid-template: 
    "iconomapa cuenta carrito" /6fr 1fr 1fr; 
    border-bottom: 1px solid; 
    border-color: #c1c7cd;  

}
#iconomapa,#cuenta,#carrito{ 
    display: flex;
    align-items: center;
    
}
#iconomapa{ 
    grid-area: iconomapa;
    padding-left: 100px;
}
#cuenta{ 
    grid-area: cuenta;  
}
#carrito{ 
    grid-area: carrito;  
}
#dowlanding{ 
    grid-area: dowlanding;
    display: grid;
    grid-template: 
    "logo buscador botoncomenzar" / 150px 6fr 1fr;       
}
#logo{ 
    grid-area: logo;
    background-image: url(../imagenes/logo.svg);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}
#buscador{ 
    grid-area:buscador;

}
#botoncomenzar{ 
    grid-area:botoncomenzar;

}