.landing{  
    background-image: url(../imagenes/Cloudy.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logogiratorio{ 
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
    transition: transform 30s linear;
}
.landing:hover #logogiratorio{transform: rotate(60deg) }