.landing{  
    background-image: url(../imagenes/Cloudy.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
}
#giratorio{ 
    background-image: url(../imagenes/landtransparente.png);
    width: 700px;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 30s linear;
}
.landing:hover #giratorio{transform: rotate(60deg) }