.landing {
    background-image: url(../imagenes/landing\ final.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}